DATASOURCE_URL=jdbc:mysql://host:port/database
DATASOURCE_USERNAME=?
DATASOURCE_PASSWORD=?
DATASOURCE_DIALECT=org.hibernate.dialect.MySQL5InnoDBDialect
ENCRYPTION_KEY=@see <https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx> > 128 bits

JWT_SECRET=@see <https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx> > 512 bits
JWT_LIFE_TIME=3600

DEFAULT_ADMIN_USERNAME=<YOUR USERNAME>
DEFAULT_ADMIN_PASSWORD=<YOUR PASSWORD>

MAIL_HOST=<smtp host>
MAIL_PORT=<TLS port>
MAIL_FROM=<sender>
MAIL_PASSWORD=<password>

MAX_PARALLEL_EXECUTOR=2